.sideBar {
  height: calc(100vh - var(--navigation-bar-height));
  background-color: var(--navigation-bar-color);
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin:0;
  padding-top: 0.3rem;
  padding-left: 0;
  font-family: 'Prompt', sans-serif;
}


.sideBarExtended {
  min-width: 10rem;
  padding-left: var(--app-padding-x);
  padding-right: var(--app-padding-x);
}

.sideBarMinimized {
  min-width: 1rem;
  padding-left: calc(var(--app-padding-x) - 0.8);
  padding-right: calc(var(--app-padding-x) - 0.8);
}