@import 'root.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
  padding-top: calc(
    var(--navigation-bar-height) + var(--navigation-bar-margin-bottom)
  );
  font-family: 'Open Sans', sans-serif;
  color: var(--app-font-color);
}

.main {
  padding-left: var(--app-padding-x);
  padding-right: var(--app-padding-x);
}

.isFlex {
  display: flex;
}