@import 'root.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

.logo {
  font-size: 2rem;
  font-family: 'Prompt', sans-serif;
  color: #f2f9ff;
}

.horizontalBar {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid var(--navigation-bar-bottom-color);
  background-color: var(--navigation-bar-color);
  box-shadow: 0 0.1rem 1rem var(--navigation-bar-color);
  z-index: 10;
}

.content {
  height: var(--navigation-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--app-padding-x);
}

.links {
  display: flex;
  font-family: 'Prompt', sans-serif;
  list-style: none;
  gap: 2rem;
  padding:0;
  margin:0;
}

.link {
  color: var(--navigation-font-color)
}

.isVertical{
  flex-direction: column;
  padding-top: 1rem;
}

.verticalBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: var(--navigation-bar-color);
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.burger {
  cursor: pointer;
}